html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}
#nav-top {
  background-image: linear-gradient(#4D8C6F55 0%, #46735ebb 100%);
  /*    background-image: linear-gradient(#13808577 0%, #53466677 140%);*/
  /*    background-image: linear-gradient(#ddd, #ccc 60%);*/
}
#side-menu {
  background-color: #1C5A51 !important;
  /* background-color: #1C575A !important;*/
}
#nav-bottom {
  background-image: linear-gradient(#ddd, #ccc 60%);
}
.navbar-title {
  /*color: #777777;*/
  transition: color ease-in-out 0.2s;
  display: block;
  text-align: center;
  float: none;
  vertical-align: middle;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.tt-menu {
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
  background-color: #fff;
}
#flash {
  margin: auto;
  width: 50%;
}
#svg {
  pointer-events: visible;
  background-color: #eee;
}
#svg text {
  font-variant-ligatures: none;
  font-feature-settings: none;
  text-rendering: optimizeSpeed;
  font-family: "Open Sans", sans-serif;
}
a:hover {
  color: #cc8548;
}
a .input-group-addon {
  color: #337ab7;
}
a .input-group-addon:active {
  background-color: #ccc;
}
/* NETWORK */
#networkLayer .link {
  opacity: 0.7;
  /*    &.highlighted {
            opacity: 0.5;
            path {
                opacity: 0.5;
                stroke: #700;
                stroke-width: 2;
            }
            text {
                font-size: 10px;
            }
        }*/
}
#networkLayer .link path.inner {
  fill: none;
  /*     marker-end: url(#arrowhead);
                stroke-dasharray: 0.5, 4;
                stroke-linecap: round;
                stroke-linejoin: round;*/
  stroke-width: 1;
  /*     stroke: #000;*/
}
#networkLayer .link path.distance-0 {
  stroke-width: 6;
}
#networkLayer .link path.distance-1 {
  stroke-width: 5;
}
#networkLayer .link path.distance-2 {
  stroke-width: 4;
}
#networkLayer .link path.distance-3 {
  stroke-width: 3;
}
#networkLayer .link path.distance-4 {
  stroke-width: 2;
}
#networkLayer .link path.distance-5 {
  stroke-width: 2;
}
#networkLayer .link path.distance-6 {
  stroke-width: 2;
}
#networkLayer .link path.distance-7 {
  stroke-width: 2;
}
#networkLayer .link path.distance-8 {
  stroke-width: 2;
}
#networkLayer .link text {
  cursor: help;
  dominant-baseline: middle;
  text-anchor: middle;
  font: 8px 'Open Sans', sans-serif;
}
#networkLayer .link text.inner {
  fill: #000;
  stroke: none;
}
#networkLayer .link text.outer {
  stroke: #fff;
  stroke-width: 3px;
  fill: none;
}
#networkLayer .link.alias path.inner {
  /*    marker-end: none;*/
  stroke-dasharray: 2, 4;
}
#networkLayer .link.member-of path.inner,
#networkLayer .link.sublabel-of path.inner {
  opacity: 0.7;
  /*     marker-end: url(#aggregate);*/
  /*     stroke: #00BD20;*/
  /*     stroke-dasharray: 0, 0;*/
}
#networkLayer .link.released-on path.inner {
  opacity: 0.5;
  /*     marker-end: url(#aggregate);*/
  stroke: #00BD20;
  stroke-dasharray: 2, 4;
}
#networkLayer .link.selected {
  opacity: 1;
}
#networkLayer .link.selected path {
  opacity: 0.6;
  stroke: #700;
  stroke-width: 4;
}
#networkLayer .link.selected text {
  font-size: 10px;
}
#networkLayer .link.noninteractive text {
  pointer-events: none;
  cursor: wait;
}
#networkLayer .hull {
  fill: #343d46;
  opacity: 0.1;
  stroke: #000;
  stroke-width: 32;
  stroke-linecap: round;
  stroke-linejoin: round;
  /*        path {
            fill: #343d46;
            opacity: 0.1;
            stroke: #000;
            stroke-width: 32;
            stroke-linecap: round;
            stroke-linejoin: round;
        }*/
}
#networkLayer .node {
  cursor: move;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke: #fff;
  stroke-width: 1.5px;
}
#networkLayer .node circle.shadow {
  fill: url(#radial-gradient);
  stroke: none;
}
#networkLayer .node text.inner {
  pointer-events: none;
  font: 10px 'Open Sans', sans-serif;
  fill: #000;
  stroke: none;
  dominant-baseline: middle;
  text-anchor: middle;
}
#networkLayer .node text.outer {
  pointer-events: none;
  font: 10px 'Open Sans', sans-serif;
  stroke: #FFFFFF77;
  stroke-width: 3px;
  fill: none;
  dominant-baseline: middle;
  text-anchor: middle;
}
#networkLayer .node text.icon {
  cursor: pointer;
  fill: #FFFFFF;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  opacity: 0.5;
  stroke: #000;
}
#networkLayer .node circle.halo {
  pointer-events: none;
  fill: #000;
  opacity: 0;
  stroke: none;
}
#networkLayer .node path.more {
  stroke: #000;
  stroke-width: 1;
  stroke-opacity: 0.3;
  fill-opacity: 1;
  fill: #fff;
  /*            fill: #ffeda0;*/
}
#networkLayer .node.selected {
  stroke: #f00;
}
#networkLayer .node.selected .halo {
  opacity: 0.1;
  fill: #700;
}
#networkLayer .node.selected .more {
  fill: #000;
}
#networkLayer .node.selected.label {
  stroke: #f00;
}
#networkLayer .node.selected.label .more {
  fill: #fff;
}
#networkLayer .cluster text.outer {
  stroke: #FFFFFFFF;
}
/* RADIAL */
#relationsLayer g.segment.selected path.arc {
  fill: #00f;
}
#relationsLayer g.segment.selected text.inner {
  fill: #00f;
}
#relationsLayer g.segment:hover path.arc {
  fill: #f00;
}
#relationsLayer g.segment:hover text.inner {
  fill: #f00;
}
#relationsLayer path.arc {
  stroke: #fff;
  stroke-width: 1px;
}
#relationsLayer text {
  text-rendering: optimizeLegibility;
  dominant-baseline: middle;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
#relationsLayer text.outer {
  fill: #fff;
  stroke: #fff;
  stroke-width: 3px;
}
#relationsLayer text.inner {
  fill: #000;
  stroke: none;
}
/* LOADING */
#loadingLayer path.arc {
  opacity: 0.75;
  stroke: #fff;
  stroke-width: 1px;
}
#loadingLayer path.arc:hover {
  fill: #f00;
}
/* MIXINS */
.invisible {
  visibility: hidden;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-shadow {
  box-shadow: 0px 0px 10px #ddd;
}
.noninteractive {
  pointer-events: none;
  cursor: none;
}
/* TOOLTIPS */
.d3-node-tooltip {
  transform: scale(0.8);
  line-height: 0.8em;
  font-size: 1em;
  padding: 2px 4px;
  background-color: #ffffcc;
  color: #111;
  border-radius: 6px;
  border: 2px solid #800026;
  pointer-events: none !important;
  text-align: center;
  box-shadow: 0 4px 20px 4px rgba(0, 20, 60, 0.1), 0 4px 80px -8px rgba(0, 20, 60, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0em;
}
.d3-node-tooltip span {
  opacity: 1;
  font-size: 1.4em;
  line-height: 1.4em;
}
.d3-link-tooltip {
  transform: scale(0.8);
  line-height: 0.8em;
  font-size: 1em;
  padding: 0px;
  background-color: #ffeda0;
  color: #111;
  opacity: 1;
  border-radius: 6px;
  border: 2px solid #800026;
  pointer-events: none !important;
  text-align: center;
  box-shadow: 0 4px 20px 4px rgba(0, 20, 60, 0.1), 0 4px 80px -8px rgba(0, 20, 60, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0em;
}
.d3-link-tooltip div {
  padding: 0px 4px;
  margin: 2px;
  display: inline-block;
  background-color: #ffeda0;
}
.d3-link-tooltip div:first-child {
  font-size: 1.4em;
  line-height: 1.4em;
  margin-bottom: 0;
}
.d3-link-tooltip div:nth-child(2) {
  font-size: 0.8em;
  line-height: 1.1em;
  border-width: 0px;
  margin: 0;
}
.d3-link-tooltip div:last-child {
  font-size: 1.4em;
  line-height: 1.4em;
  margin-top: 0;
}
.YlOrRd .color-0 {
  fill: #ffffcc;
}
.YlOrRd .color-1 {
  fill: #ffeda0;
}
.YlOrRd .color-2 {
  fill: #fed976;
}
.YlOrRd .color-3 {
  fill: #feb24c;
}
.YlOrRd .color-4 {
  fill: #fd8d3c;
}
.YlOrRd .color-5 {
  fill: #fc4e2a;
}
.YlOrRd .color-6 {
  fill: #e31a1c;
}
.YlOrRd .color-7 {
  fill: #bd0026;
}
.YlOrRd .color-8 {
  fill: #800026;
}
.YlGnBu .color-0 {
  fill: #ffffd9;
}
.YlGnBu .color-1 {
  fill: #edf8b1;
}
.YlGnBu .color-2 {
  fill: #c7e9b4;
}
.YlGnBu .color-3 {
  fill: #7fcdbb;
}
.YlGnBu .color-4 {
  fill: #41b6c4;
}
.YlGnBu .color-5 {
  fill: #1d91c0;
}
.YlGnBu .color-6 {
  fill: #225ea8;
}
.YlGnBu .color-7 {
  fill: #253494;
}
.YlGnBu .color-8 {
  fill: #081d58;
}
.RdGnBl .color-8 {
  fill: #ff0000;
}
.RdGnBl .color-7 {
  fill: #ff004c;
}
.RdGnBl .color-6 {
  fill: #f25f2d;
}
.RdGnBl .color-5 {
  fill: #dc8926;
}
.RdGnBl .color-4 {
  fill: #c5a841;
}
.RdGnBl .color-3 {
  fill: #b1c16c;
}
.RdGnBl .color-2 {
  fill: #a8d39c;
}
.RdGnBl .color-1 {
  fill: #b0e1c7;
}
.RdGnBl .color-0 {
  fill: #ccece6;
}
.RdGnLb .color-8 {
  fill: #ff0000;
}
.RdGnLb .color-7 {
  fill: #df6e00;
}
.RdGnLb .color-6 {
  fill: #b99800;
}
.RdGnLb .color-5 {
  fill: #93b628;
}
.RdGnLb .color-4 {
  fill: #70cc72;
}
.RdGnLb .color-3 {
  fill: #5cdcb1;
}
.RdGnLb .color-2 {
  fill: #73e8e2;
}
.RdGnLb .color-1 {
  fill: #a8f0ff;
}
.RdGnLb .color-0 {
  fill: #b0e1c7;
}
.Palette1 .color-0 {
  fill: #ff0000;
}
.Palette1 .color-1 {
  fill: #f55700;
}
.Palette1 .color-2 {
  fill: #e87d00;
}
.Palette1 .color-3 {
  fill: #da9a00;
}
.Palette1 .color-4 {
  fill: #ccb211;
}
.Palette1 .color-5 {
  fill: #bfc744;
}
.Palette1 .color-6 {
  fill: #b5da6d;
}
.Palette1 .color-7 {
  fill: #afeb96;
}
.Palette1 .color-8 {
  fill: #afeb96;
}
.Palette2 .color-0 {
  fill: #d53e4f;
}
.Palette2 .color-1 {
  fill: #f46d43;
}
.Palette2 .color-2 {
  fill: #fdae61;
}
.Palette2 .color-3 {
  fill: #fee08b;
}
.Palette2 .color-4 {
  fill: #ffffbf;
}
.Palette2 .color-5 {
  fill: #e6f598;
}
.Palette2 .color-6 {
  fill: #abdda4;
}
.Palette2 .color-7 {
  fill: #66c2a5;
}
.Palette2 .color-8 {
  fill: #3288bd;
}
.Palette3 .color-0 {
  fill: #800026;
}
.Palette3 .color-1 {
  fill: #bd0026;
}
.Palette3 .color-2 {
  fill: #e31a1c;
}
.Palette3 .color-3 {
  fill: #fc4e2a;
}
.Palette3 .color-4 {
  fill: #fd8d3c;
}
.Palette3 .color-5 {
  fill: #feb24c;
}
.Palette3 .color-6 {
  fill: #fed976;
}
.Palette3 .color-7 {
  fill: #ffeda0;
}
.Palette3 .color-8 {
  fill: #ffffcc;
}
.Palette4 .color-0 {
  fill: #23682e;
}
.Palette4 .color-1 {
  fill: #347a3d;
}
.Palette4 .color-2 {
  fill: #448b4c;
}
.Palette4 .color-3 {
  fill: #549e5b;
}
.Palette4 .color-4 {
  fill: #64b16b;
}
.Palette4 .color-5 {
  fill: #74c47c;
}
.Palette4 .color-6 {
  fill: #85d78d;
}
.Palette4 .color-7 {
  fill: #96eb9e;
}
.Palette4 .color-8 {
  fill: #a7ffaf;
}
.LinkRedPalette .color-0 {
  stroke: #800026;
}
.LinkRedPalette .color-1 {
  stroke: #bd0026;
}
.LinkRedPalette .color-2 {
  stroke: #e31a1c;
}
.LinkRedPalette .color-3 {
  stroke: #fc4e2a;
}
.LinkRedPalette .color-4 {
  stroke: #fd8d3c;
}
.LinkRedPalette .color-5 {
  stroke: #feb24c;
}
.LinkRedPalette .color-6 {
  stroke: #fed976;
}
.LinkRedPalette .color-7 {
  stroke: #ffeda0;
}
.LinkRedPalette .color-8 {
  stroke: #ffffcc;
}
.LinkGreenPalette .color-0 {
  stroke: #23682e;
}
.LinkGreenPalette .color-1 {
  stroke: #347a3d;
}
.LinkGreenPalette .color-2 {
  stroke: #448b4c;
}
.LinkGreenPalette .color-3 {
  stroke: #549e5b;
}
.LinkGreenPalette .color-4 {
  stroke: #64b16b;
}
.LinkGreenPalette .color-5 {
  stroke: #74c47c;
}
.LinkGreenPalette .color-6 {
  stroke: #85d78d;
}
.LinkGreenPalette .color-7 {
  stroke: #96eb9e;
}
.LinkGreenPalette .color-8 {
  stroke: #a7ffaf;
}
