<!doctype html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
        name="viewport"
        content="width=device-width,
                 initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <meta name="application-name" content="Patchwork"/>

    <title>{{ title }}</title>

    {%- if not is_production %}
    <script type="module" src="{{ asset('@vite/client') }}"></script>
    <script type="module">
        import RefreshRuntime from "{{ asset('@react-refresh') }}";
        RefreshRuntime.injectIntoGlobalHook(window);
        window.$RefreshReg$ = () => {};
        window.$RefreshSig$ = () => (type) => type;
        window.__vite_plugin_react_preamble_installed__ = true;
    </script>
    {%- endif %}

    <!-- Musigree -->
    <meta
        property="og:description"
        content=" Musigree provides an
            interactive visualization of the relationships between nearly 11 million
            artists, bands and labels using information derived from the Discogs.com
            database."
    />
    <meta property="og:title" content="{{ og_title }}"/>
    <meta property="og:site_name" content="Musigree"/>
    <meta property="og:url" content="{{ application_url }}{{ og_url }}"/>
    <meta
        property="og:image"
        content="{{ application_url }}/img/og_image.png"
    />

    <!-- favicon-->
    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="/public/img/apple-touch-icon.png"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="/public/img/favicon-32x32.png"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="/public/img/favicon-16x16.png"
    />

    <link rel="manifest" href="/public/site.webmanifest"/>

    {%- if is_production %}
    <link rel="stylesheet" href="{{ asset('style.css') }}"/>
    <script defer src="https://umami.musigree.com/script.js"
            data-website-id="9f3c197c-de28-4872-891b-c10fce18cf88"
            data-do-not-track="true">
    </script>
    {%- endif %}

</head>

<body id="musigree">

<div id="react-app-container" class="h-sm-100"></div>

<div class="container-fluid">
    <div id="message-container" aria-live="polite" aria-atomic="true"
         class="fixed-bottom mx-auto d-flex flex-column justify-content-center align-items-center w-50">
    </div>
</div>

{% if initial_json %}
<script>{{ initial_json|safe }}</script>
{% endif %}

<script type="module" src="{{ asset('index.ts') }}"></script>

</body>

</html>
