<!doctype html>
<html dir="ltr" lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="utf-8"/>
    <meta
        name="viewport"
        content="width=device-width,
                 initial-scale=1, maximum-scale=1, user-scalable=no"
    />

    <meta name="application-name" content="Musigree"/>
    <meta name="description" content="Discover new music with an interactive tool visualizing the complex network
    between musicians, bands, and record labels. See how artists connect today.">
    <meta name="keywords"
          content="musicians, music connections, artist network, band relationships, record labels, music discovery">

    <title>{{ title }}</title>

    {%- if not is_production %}
    <script type="module" src="{{ asset('@vite/client') }}"></script>
    <script type="module">
        import RefreshRuntime from "{{ asset('@react-refresh') }}";
        RefreshRuntime.injectIntoGlobalHook(window);
        window.$RefreshReg$ = () => {};
        window.$RefreshSig$ = () => (type) => type;
        window.__vite_plugin_react_preamble_installed__ = true;
    </script>
    {%- endif %}

    <!-- Open Graph -->
    <meta property="og:title" content="{{ og_title }}"/>
    <meta property="og:type" content="{{ og_type }}"/>
    <meta property="og:image" content="{{ og_image }}"/>
    <meta property="og:url" content="{{ og_url }}"/>
    <meta property="og:description"
          content="Musigree provides an
            interactive visualization of the relationships between
            artists, bands and labels using information derived from
            the Discogs.com database."/>
    <meta property="og:site_name" content="Musigree"/>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="musigree.com">
    <meta property="twitter:url" content="https://musigree.com">
    <meta name="twitter:title"
          content="Musigree - An Interactive Map of Artists, Bands & Labels">
    <meta name="twitter:description" content="Musigree provides an
interactive visualization of the relationships between artists, bands and
labels using information derived from the Discogs.com database.">
    <meta name="twitter:image" content="https://musigree.com/img/og_image.png">

    <!-- favicon-->
    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="/img/apple-touch-icon.png"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="/img/favicon-32x32.png"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="/img/favicon-16x16.png"
    />

    <!-- Musigree -->
    <link rel="manifest" href="/site.webmanifest"/>

    {%- if is_production %}
    <link rel="stylesheet" href="{{ asset('style.css') }}"/>
    {%- endif %}

    <script defer src="https://umami.musigree.com/script.js"
            data-website-id="9f3c197c-de28-4872-891b-c10fce18cf88"
            data-auto-track="false">
    </script>

</head>

<body id="musigree">

<div id="react-app-container" class="h-sm-100"></div>

<div class="container-fluid">
    <div id="message-container" aria-live="polite" aria-atomic="true"
         class="fixed-bottom mx-auto d-flex flex-column justify-content-center align-items-center w-50">
    </div>
</div>

{% if initial_json %}
<script>{{ initial_json|safe }}</script>
{% endif %}

<script type="module" src="{{ asset('index.ts') }}"></script>

<img src="https://umami.musigree.com/p/Zda2WR2vQ" alt="">

</body>

</html>
